body {
  width: 100%;
  height: 100%;
}

#background-container {
  background: url(../images/background.png) no-repeat;
  background-size: 680px 1138px;
  height: 980px;
  width: 680px;
}

#crystals img {
  display: inline-block;
  width: 64px;
  height: 64px;
}

#game-title {
  background-color: #150c2b;
  width: 200px;
  height: 70px;
  margin: auto;
}

#game-title h1 {
  text-align: center;
  margin: auto;
  padding-top: 25px;
  color:white;
  font-size: 22px;
  font-family: 'Architects Daughter', cursive;
}

#instructions {
  width: 80%;
  height: auto;
  margin: auto;
}

#instructions p {
  font-size: 18px;
  color: #ead5fe;
  font-family: 'Architects Daughter', cursive;
  line-height: 20px;
}

#randomnumber {
  background-color: #983B3B;
  width: 200px;
  height: 75px;
}

#wrapper {
  width: 75%;
  height: 100px;
}

#scores{
  background-color: black;
  display: inline-block;
  height: 70px;
  width: 100px;
}

#wins {
  color: white;
}
#losses {
  color: white;
}

#totalscore {
  background-color: blue;
  display: inline-block;
  height: 70px;
  width: 100px;
}

#totalpoints {
  width: 100px;
  height: 70px;
}

