body {
  width: 100%;
  height: 100%;
}

#background-container {
  background: url(../images/background.png) no-repeat;
  background-size: 680px 1138px;
  height: 950px;
  width: 680px;
  position: relative;
}

#crystals {
  margin: auto;
  padding: 4px;
  text-align: center;
}

#crystals img {
  width: 78px;
  height: 78px;
  padding: 9px;
}

#crystals img:active {
  transform: translateY(4px);
}

#game-title {
  background-color: #150c2b;
  width: 200px;
  height: 70px;
  margin: auto;
}

#game-title h1 {
  text-align: center;
  margin: auto;
  padding-top: 25px;
  color:#ead5fe;
  font-size: 22px;
  font-family: 'Architects Daughter', cursive;
}

#instructions {
  width: 80%;
  margin: auto;
}

#instructions p {
  font-size: 18px;
  color: #ead5fe;
  font-family: 'Architects Daughter', cursive;
  line-height: 20px;
}

#match {
  padding-top: 15px;
  text-align: center;
  margin: auto;
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
  color: #ead5fe;
}

#random {  
  border: 2px solid #ead5fe;
  border-radius: 25px;
  width: 150px;
  height: 75px;
  margin: auto;  
}

#randomnumber {
  color: #ead5fe;
  padding-top: 10px;
  margin: auto;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 48px;
}

#totalscore {
  border: 2px solid #ead5fe;
  border-radius: 25px;
  padding-top: 20px;
  height: 70px;
  width: 100px;
  margin: auto;
}

#score {
  margin: auto;
  padding-top: 10px;
  color: #ead5fe;
  font-size: 32px;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

#wrapper {
  width: 75%;
  height: 100px;
  padding-top: 350px;
  padding-left: 20px;
}

#scores{
  display: inline-block;
  height: 70px;
  width: 100px;
}

#wins {
  color: #b37dd3;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
}
#losses {
  color: #b37dd3;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
}



